@media (max-width: 850px) {
    html{
        overflow: auto;
        overflow-x: hidden;
    }

    #categories{
        position: relative;
        flex-direction: column;
    }

    .categorie{
        width: 100vw;
        height: 20vh;
    }

    .categorie .categoryText{
        height: 100px;
      }
}